// Your custom SCSS should be written here...

@font-face {
    font-family: 'BiloxiScript';
    src: local("BiloxiScript"),
        url('../fonts/Biloxi-Script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#header {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#header #navbar {
    margin-top: 1rem;
}

.blog-header {
    padding-top: 0;
    padding-bottom: 0;
}

// List Blog Item
.list-item {
    img {
        float: none;
        width: 100%;
    }
}

#header {
    margin-bottom: 15px;
}

#header #logo {
    background: none;
    width: auto;
    height: auto;
    position: static;
    font-family: BiloxiScript;
    font-weight: 900;
    font-size: 2rem;
    vertical-align: middle;
    text-transform: capitalize;
    color:#ed6f6d;
    margin-top: 15px;
}

#header .logo-accent {
    position: static;
    width: auto;
    height: auto;
    border-radius: none;
    background: none;
}

a.button{
    .fa{
        margin-right: 4px;
    }
}